<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HB: Currently booked rooms</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/styles/main.css}"/>
</head>
<body>
<h1>Hotel Bookings</h1>

<h2>Currently booked Rooms</h2>
<table class="styled-table fixed">
    <thead>
    <tr th:if="${allbookeddays != null && allbookeddays.length > 0}">
        <td></td>
        <td th:each="day : ${allbookeddays[0]}" th:text="${dayStat.index}">
        </td>
    </tr>
    </thead>
    <tr th:each="roombookings: ${allbookeddays}">
        <td th:text="${'Room ' + (roombookingsStat.index + 1)}"></td>
        <td th:each="day : ${roombookings}" th:text="${day?'b':'f'}">
        </td>
    </tr>
</table>
</body>
</html>
