<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hotel Bookings</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/styles/main.css}"/>
</head>
<body>
<h1>Hotel Booking</h1>

<h2>Initial Step: Set the maximum available rooms of the hotel (resets already booked rooms)</h2>
<form action="#" method="post" th:action="@{/booking/maxrooms}" th:object="${maxrooms}">
    <label> Number of Rooms
        <input th:field="*{number}" type="number"/>
    </label>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>

<h2>Book a room</h2>
<form action="#" method="post" th:action="@{/booking/book}" th:object="${range}">
    <label> Start
        <input th:field="*{start}" type="number"/>
    </label>
    <label> End
        <input th:field="*{end}" type="number"/>
    </label>
    <p class="error" th:text="${bookingexception}"></p>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>


<h2>Check availability of a specific room and range</h2>
<form action="#" method="post" th:action="@{/booking/availability}" th:object="${availabilitychecker}">
    <label> Start
        <input th:field="*{start}" type="number"/>
    </label>
    <label> End
        <input th:field="*{end}" type="number"/>
    </label>
    <label> Room Number
        <input th:field="*{roomNumber}" type="number"/>
    </label>
    <p th:text="${availabilityinfo}"></p>
    <p class="error" th:text="${availabilityexception}"></p>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>

<h2>the table containing all Rooms and their respective booking status on each day</h2>
<p>To the table containing the current bookings: <a href="/booking/currentbooked">here</a></p>


<h2>Results of Bookings</h2>
<table class="styled-table">
    <thead>
    <tr th:if="${bookingResults != null && bookingResults.size() > 0}">
        <td>Start</td>
        <td>End</td>
        <td>Result</td>
        <td>Booked room number</td>
        <td>ErrorMessage</td>
    </tr>
    </thead>
    <tr th:each="result: ${bookingResults}">
        <td th:text="${result.getStart()}"></td>
        <td th:text="${result.getEnd()}"></td>
        <td th:text="${result.isAccepted()? 'Accepted': 'Declined'}"></td>
        <td th:text="${result.getRoomNumber()}"></td>
        <td th:text="${result.getErrorReason()}"></td>
    </tr>
</table>

</body>

</html>
