.error {
    color: red;
}


.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

thead th:first-child {
    left: 0;
    z-index: 3;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}


thead th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}

.fixed tr > :first-child {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    background-color: green;
}

tbody {
    overflow: scroll;
    height: 200px;
}
